@model Presentacion.Models.proformadet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proformadet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proformacab.numeroserie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proformacab.numeroserie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
