@model Presentacion.Models.catalogo

@{
    ViewBag.Title = "Delete";
    ViewBag.Usuario = Presentacion.Globals.Globals.Usuario;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>catalogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oficina1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oficina1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguro1.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguro1.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtipoactivo1.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtipoactivo1.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
